body {
    background-attachment: fixed;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-top: 0; 
    margin: 0; 
    overflow:auto; 
    font-family: georgia;
    text-align: center;
}

a {
    color: skyblue;
    text-decoration: none
}

#info {
    position: absolute;
    width: 100%;
    margin:0px; 
    padding:0px; 

}
#depthkit-video{
    position:absolute;
    top: 0; left: 0;
    width: 20%;
}

#message {
    width:50%;
    text-align: center; 
    font-size: auto; 
    overflow: hidden;
}

#startBtn {
    position:absolute;
    right: -35%;
    top: 0%;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #1B75CA;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer; 
}

#clickArea {
    position: relative; 
    bottom: 0%; 
    width: 50%;
    display: inline-block;
}


#playPause {
    position: fixed; 
    right:5vw; 
    top: 10vw;
    border:0.5vw solid #1B75CA;
    background-color: #1B75CA;
    border-radius:2em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s; 
    font-size: 1.5vw; 
    cursor: pointer; 
}

#FileSubmit {
    position:fixed; 
    top: 10vw; right: 150px; 
    overflow: hidden;
    margin:0px; 
    padding:0px; 
}

#logo {
    position:absolute; 
    top: 0%; 
    left: 0%; 
    width: 25%;
    height:102%; 
    display:inline-block; 
}

#KSUbanner {
    
    position:relative; 
    left: 0%; 
    top: 1%; 
    width: 100%; 
    height: 173%; 
    overflow: hidden;
    margin: 0; 
    padding: 0px;

}

#messageDiv {
    position:relative; 
    height:100%;
    width:50%; 
    margin-left:25%; 
    margin-right:25%; 
    display:inline-block; 
}


#ARbtn {
    position:absolute;
    right: 15%;
    top: 30%;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid #1B75CA;
    background-color: #1B75CA;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer; 
}

#dropdownLabel {
    text-align:center;
    overflow: hidden; 
    margin: 0%;
    display:inline-block;
    padding:0px; 

}
#DropdownSelect {
    overflow: hidden;
    margin: 0%;
    display: inline-block;
    padding:0px; 
}
.start {
    position:relative;
    height:10%; 
    width:100vw;
    top:0;
    margin-bottom:.3vw; 
}

#adminDiv {
    position:absolute; 
    right: 0%; 
    top: 0%; 
    width: 5%; 
    height: 10%; 

}
